.instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instruction .sideBar {
  width: 25%;
  min-height: 100vh;
  background-color: #2194ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.instruction .sideBar .titleSideBar {
  color: white;
  text-align: center;
  padding: 20px;
}

.instruction .sideBar .titleSideBar .vnck {
  font-size: 50px;
  margin: 0;
  border-bottom: 3px solid white;
}

.instruction .sideBar .borderLogo {
  padding: 60px;
  text-align: center;
}

.instruction .sideBar .borderLogo .logo {
  width: 100%;
}

.instruction .content {
  width: 75%;
  padding: 30px;
}

.instruction .content .formBorder {
  border-radius: 12px;
  min-height: 100vh;
  border: 3px solid #2194ea;
}

.instruction .content .formBorder .borderAniSpoofing {
  padding: 20px;
}

.instruction .content .formBorder .borderAniSpoofing .antiSpoofing {
  margin: 0 auto;
  border-bottom: 5px solid #EDBD7A;
}

@media screen and (max-width: 768px) {
  .instruction .sideBar {
    width: 0;
    opacity: 0;
  }
  .instruction .content {
    width: 100%;
  }
  .instruction .content .formBorder {
    border-radius: 12px;
    min-height: 100vh;
    border: 3px solid #2194ea;
  }
  .instruction .content .formBorder .borderAniSpoofing .antiSpoofing {
    border-bottom: 5px solid #EDBD7A;
  }
}

.detailInstruction {
  text-align: left;
}

.red {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
}

.bold {
  display: inline;
  font-weight: 700;
  margin: 0;
}

.borderCircular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderCircular .turn {
  position: relative;
}

.borderCircular .turn .video {
  width: 500px;
  margin-top: 6px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 0%;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  border: none;
}

.borderCircular .turn .tRight {
  position: absolute;
  top: 40%;
  right: 15%;
}

.borderCircular .turn .tLeft {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;
  left: 20%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.borderCircular .turn .tUp {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10%;
  left: 45%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.borderCircular .turn .tDown {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 10%;
  left: 35%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.borderCircular .turn .tSmile {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 5%;
  left: 38%;
}

.borderCircular .turn .loading {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 33%;
  left: 37%;
}

.borderCircular .turn .count {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 30%;
  left: 35%;
}

.formRecording {
  text-align: center;
}

.showVideo {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test {
  width: 300px;
}

.feedbackForm {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100%;
  margin: 0 auto;
}

.feedbackForm .formBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .borderCircular .turn .video {
    width: 450px;
  }
}

@media screen and (max-width: 576px) {
  .borderCircular .turn .video {
    width: 400px;
  }
  .borderCircular .turn .tUp {
    left: 43%;
  }
  .borderCircular .turn .loading {
    top: 28%;
    left: 35%;
  }
  .borderCircular .turn .count {
    top: 20%;
    left: 32%;
  }
  .borderCircular .turn .tRight {
    top: 40%;
  }
  .borderCircular .turn .tLeft {
    top: 25%;
  }
  .borderCircular .turn .tDown {
    left: 35%;
  }
  .borderCircular .turn .tSmile {
    left: 35%;
  }
}

@media screen and (max-width: 420px) {
  .borderCircular .turn .video {
    width: 320px;
  }
  .borderCircular .turn .tUp {
    left: 42%;
  }
  .borderCircular .turn .loading {
    top: 20%;
    left: 30%;
  }
  .borderCircular .turn .count {
    top: 15%;
    left: 27%;
  }
  .borderCircular .turn .tRight {
    top: 37%;
  }
  .borderCircular .turn .tLeft {
    top: 20%;
  }
  .borderCircular .turn .tDown {
    left: 30%;
  }
  .borderCircular .turn .tSmile {
    left: 30%;
  }
}

@media screen and (max-width: 395px) {
  .borderCircular .turn .video {
    width: 320px;
  }
  .borderCircular .turn .tLeft {
    top: 20%;
  }
  .borderCircular .turn .tUp {
    left: 42%;
  }
  .borderCircular .turn .tDown {
    left: 30%;
  }
  .borderCircular .turn .tSmile {
    left: 30%;
  }
  .borderCircular .turn .loading {
    top: 20%;
    left: 30%;
  }
  .borderCircular .turn .count {
    top: 15%;
    left: 27%;
  }
}
/*# sourceMappingURL=main.css.map */