.instruction{
    display: flex;
    .sideBar{
        width: 25%;
        min-height: 100vh;
        background-color: #2194ea;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titleSideBar{
            color: white;
            text-align: center;
            padding: 20px;
            .vnck{
                font-size: 50px;
                margin: 0;
                border-bottom: 3px solid white;
            }
        }
        .borderLogo{
            padding: 60px;
            text-align: center;
            .logo{
                width: 100%;
            }
        }
        
    }
    
    .content{
        width: 75%;
        padding: 30px;
        .formBorder{
            border-radius: 12px;
            min-height: 100vh;
            border: 3px solid #2194ea;
            .borderAniSpoofing{
                padding: 20px;
                .antiSpoofing{
                    margin: 0 auto;
                    border-bottom: 5px solid #EDBD7A;
                }
            }
        }
    }
}



@include responsive('medium'){
    .instruction{
        .sideBar{
            width: 0;
            opacity: 0;
        }
        
        .content{
            width: 100%;
            .formBorder{
                border-radius: 12px;
                min-height: 100vh;
                border: 3px solid #2194ea;
                .borderAniSpoofing{
                    .antiSpoofing{
                        border-bottom: 5px solid #EDBD7A;
                    }
                }
            }
        }
    }
}


