.detailInstruction{
    text-align: left;
}
.red{
    margin-top: 15px;
    display: flex;
    color: red;
}

.bold{
    display: inline;
    font-weight: 700;
    margin: 0;
}

.borderCircular{
    display: flex;
    justify-content: center;
    align-items: center;
    .turn{
        position: relative;
        // background-color: burlywood;
        .video{
            width: 500px;
            margin-top: 6px;
            transform: rotateY(180deg);
            border-radius: 0%;
            clip-path: circle(40%);
            border: none;
        }

        .tRight{
            position: absolute;
            top: 40%;
            right: 15%;
        }
        .tLeft{
            position: absolute;
            width: 100px;
            height: 100px;
            top: 30%;
            left: 20%;
            transform: rotate(180deg);
        }
        .tUp{
            position: absolute;
            width: 100px;
            height: 100px;
            top: 10%;
            left: 45%;
            transform: rotate(-90deg);
        }
        .tDown{
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: 10%;
            left: 35%;
            transform: rotate(90deg);
        }
        .tSmile{
            position: absolute;
            width: 120px;
            height: 120px;
            top: 5%;
            left: 38%;
        }
        .loading{
            position: absolute;
            width: 120px;
            height: 120px;
            top: 33%;
            left: 37%;
        }
        .count{
            position: absolute;
            width: 120px;
            height: 120px;
            top: 30%;
            left: 35%;
        }
    }
}



.formRecording{
    text-align: center;
}
.showVideo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    width: 300px;
}
.feedbackForm{
    align-items: center !important;
    width: 100%;
    margin: 0 auto;
    .formBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@include responsive("medium"){
    .borderCircular{
        .turn{
            .video{
                width: 450px;
            }
        }
    }
}

@include responsive("small"){
    .borderCircular{
        .turn{
            .video{
                width: 400px;
            }
            .tUp{
                left: 43%
            }
            .loading{
                top: 28%;
                left: 35%;
            }
            .count{
                top: 20%;
                left: 32%;
            }
            .tRight{
                top: 40%;
            }
            .tLeft{
                top: 25%;
            }
            .tDown{
                left: 35%;
            }
            .tSmile{
                left: 35%;
            }
        }
    }
}

@include responsive("iphone678plus"){
    .borderCircular{
        .turn{
            .video{
                width: 320px;
            }
            .tUp{
                left: 42%
            }
            .loading{
                top: 20%;
                left: 30%;
            }
            .count{
                top: 15%;
                left: 27%;
            }
            .tRight{
                top: 37%;
            }
            .tLeft{
                top: 20%;
            }
            .tDown{
                left: 30%;
            }
            .tSmile{
                left: 30%;
            }
        }
    }
}


@include responsive("iphonex"){
    .borderCircular{
        .turn{
            .video{
                width: 320px;
            }
            .tLeft{
                top: 20%;
            }
            .tUp{
                left: 42%
            }
            .tDown{
                left: 30%;
            }
            .tSmile{
                left: 30%;
            }
            .loading{
                top: 20%;
                left: 30%;
            }
            .count{
                top: 15%;
                left: 27%;
            }
        }
    }
}